<%- include("../partials/header") %>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><link
  type="text/css"
  rel="stylesheet"
  href="resources/sheet.css"
/>
<link rel="stylesheet" href="../../public/css/styles.css" />
<style type="text/css">
  .ritz .waffle a {
    color: inherit;
  }
  .ritz .waffle .s3 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s0 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s1 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s2 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: top;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
</style>
<div class="table">
<div class="ritz grid-container" dir="ltr">
  <table class="waffle" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th class="row-header freezebar-origin-ltr"></th>
        <th
          id="1795705170C0"
          style="width: 212px"
          class="column-headers-background"
        >
          A
        </th>
        <th
          id="1795705170C1"
          style="width: 100px"
          class="column-headers-background"
        >
          B
        </th>
        <th
          id="1795705170C2"
          style="width: 100px"
          class="column-headers-background"
        >
          C
        </th>
        <th
          id="1795705170C3"
          style="width: 100px"
          class="column-headers-background"
        >
          D
        </th>
        <th
          id="1795705170C4"
          style="width: 100px"
          class="column-headers-background"
        >
          E
        </th>
        <th
          id="1795705170C5"
          style="width: 100px"
          class="column-headers-background"
        >
          F
        </th>
        <th
          id="1795705170C6"
          style="width: 135px"
          class="column-headers-background"
        >
          G
        </th>
        <th
          id="1795705170C7"
          style="width: 100px"
          class="column-headers-background"
        >
          H
        </th>
        <th
          id="1795705170C8"
          style="width: 100px"
          class="column-headers-background"
        >
          I
        </th>
      </tr>
    </thead>
    <tbody>
      <tr style="height: 20px">
        <th
          id="1795705170R0"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">1</div>
        </th>
        <td class="s0" colspan="9">
          17. Accidents Classified According to Type of Road User
        </td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R1"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">2</div>
        </th>
        <td class="s1" rowspan="3">Persons</td>
        <td class="s2" colspan="8">Number of Persons</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R2"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">3</div>
        </th>
        <td class="s1" colspan="2">Killed</td>
        <td class="s1" colspan="2">
          Greviously Injured (need hospitalisation)
        </td>
        <td class="s1" colspan="2">
          Minor Injured (not needing hospitalisation)
        </td>
        <td class="s1" colspan="2">Total</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R3"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">4</div>
        </th>
        <td class="s2">Male</td>
        <td class="s2">Female</td>
        <td class="s2">Male</td>
        <td class="s2">Female</td>
        <td class="s2">Male</td>
        <td class="s2">Female</td>
        <td class="s2">Male</td>
        <td class="s2">Female</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R4"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">5</div>
        </th>
        <td class="s0">1. Pedestrian</td>
        <td class="s1"><%= k_ped_m %></td>
        <td class="s1"><%= k_ped_f %></td>
        <td class="s1"><%= gi_ped_m %></td>
        <td class="s1"><%= gi_ped_f %></td>
        <td class="s1"><%= mi_ped_m %></td>
        <td class="s1"><%= mi_ped_f %></td>
        <td class="s1"><%= tot_ped_m %></td>
        <td class="s1"><%= tot_ped_f%></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R5"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">6</div>
        </th>
        <td class="s0">2. Bicycles</td>
        <td class="s1"><%= k_byc_tot_m %></td>
        <td class="s1"><%= k_byc_tot_f %></td>
        <td class="s1"><%= gi_byc_tot_m %></td>
        <td class="s1"><%= gi_byc_tot_f %></td>
        <td class="s1"><%= mi_byc_tot_m %></td>
        <td class="s1"><%= mi_byc_tot_f %></td>
        <td class="s1"><%= tot_byc_tot_m %></td>
        <td class="s1"><%= tot_byc_tot_f%></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R6"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">7</div>
        </th>
        <td class="s3">a)   Drivers</td>
        <td class="s1"><%= k_byc_driv_m %></td>
        <td class="s1"><%= k_byc_driv_f %></td>
        <td class="s1"><%= gi_byc_driv_m %></td>
        <td class="s1"><%= gi_byc_driv_f %></td>
        <td class="s1"><%= mi_byc_driv_m %></td>
        <td class="s1"><%= mi_byc_driv_f %></td>
        <td class="s1"><%= tot_byc_driv_m %></td>
        <td class="s1"><%= tot_byc_driv_f%></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R7"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">8</div>
        </th>
        <td class="s3">b)  Passengers</td>
        <td class="s1"><%= k_byc_pass_m %></td>
        <td class="s1"><%= k_byc_pass_f %></td>
        <td class="s1"><%= gi_byc_pass_m %></td>
        <td class="s1"><%= gi_byc_pass_f %></td>
        <td class="s1"><%= mi_byc_pass_m %></td>
        <td class="s1"><%= mi_byc_pass_f %></td>
        <td class="s1"><%= tot_byc_pass_m %></td>
        <td class="s1"><%= tot_byc_pass_f %></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R8"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">9</div>
        </th>
        <td class="s0">3.Two Wheelers</td>
        <td class="s1"><%= k_2wh_tot_m %></td>
        <td class="s1"><%= k_2wh_tot_f %></td>
        <td class="s1"><%= gi_2wh_tot_m %></td>
        <td class="s1"><%= gi_2wh_tot_f %></td>
        <td class="s1"><%= mi_2wh_tot_m %></td>
        <td class="s1"><%= mi_2wh_tot_f %></td>
        <td class="s1"><%= tot_2wh_tot_m %></td>
        <td class="s1"><%= tot_2wh_tot_f %></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R9"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">10</div>
        </th>
        <td class="s3">a)Drivers</td>
        <td class="s1"><%= k_2wh_driv_m %></td>
        <td class="s1"><%= k_2wh_driv_f %></td>
        <td class="s1"><%= gi_2wh_driv_m %></td>
        <td class="s1"><%= gi_2wh_driv_f %></td>
        <td class="s1"><%= mi_2wh_driv_m %></td>
        <td class="s1"><%= mi_2wh_driv_f %></td>
        <td class="s1"><%= tot_2wh_driv_m %></td>
        <td class="s1"><%= tot_2wh_driv_f %></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R10"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">11</div>
        </th>
        <td class="s3">b)Passengers</td>
        <td class="s1"><%= k_2wh_pass_m %></td>
        <td class="s1"><%= k_2wh_pass_f %></td>
        <td class="s1"><%= gi_2wh_pass_m %></td>
        <td class="s1"><%= gi_2wh_pass_f %></td>
        <td class="s1"><%= mi_2wh_pass_m %></td>
        <td class="s1"><%= mi_2wh_pass_f %></td>
        <td class="s1"><%= tot_2wh_pass_m %></td>
        <td class="s1"><%= tot_2wh_pass_f %></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R11"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">12</div>
        </th>
        <td class="s0">4.Auto Rickshaws</td>
        <td class="s1"><%= k_rick_tot_m %></td>
        <td class="s1"><%= k_rick_tot_f %></td>
        <td class="s1"><%= gi_rick_tot_m %></td>
        <td class="s1"><%= gi_rick_tot_f %></td>
        <td class="s1"><%= mi_rick_tot_m %></td>
        <td class="s1"><%= mi_rick_tot_f %></td>
        <td class="s1"><%= tot_rick_tot_m %></td>
        <td class="s1"><%= tot_rick_tot_f %></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R12"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">13</div>
        </th>
        <td class="s3">a)Drivers</td>
        <td class="s1"><%= k_rick_driv_m %></td>
        <td class="s1"><%= k_rick_driv_f %></td>
        <td class="s1"><%= gi_rick_driv_m %></td>
        <td class="s1"><%= gi_rick_driv_f %></td>
        <td class="s1"><%= mi_rick_driv_m %></td>
        <td class="s1"><%= mi_rick_driv_f %></td>
        <td class="s1"><%= tot_rick_driv_m %></td>
        <td class="s1"><%= tot_rick_driv_f %></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R13"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">14</div>
        </th>
        <td class="s3">b)Passengers</td>
        <td class="s1"><%= k_rick_pass_m %></td>
        <td class="s1"><%= k_rick_pass_f %></td>
        <td class="s1"><%= gi_rick_pass_m %></td>
        <td class="s1"><%= gi_rick_pass_f %></td>
        <td class="s1"><%= mi_rick_pass_m %></td>
        <td class="s1"><%= mi_rick_pass_f %></td>
        <td class="s1"><%= tot_rick_pass_m %></td>
        <td class="s1"><%= tot_rick_pass_f %></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R14"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">15</div>
        </th>
        <td class="s0">5.Cars, Taxis, Vans &amp; LMV</td>
        <td class="s1"><%= k_4wh_tot_m %></td>
        <td class="s1"><%= k_4wh_tot_f %></td>
        <td class="s1"><%= gi_4wh_tot_m %></td>
        <td class="s1"><%= gi_4wh_tot_f %></td>
        <td class="s1"><%= mi_4wh_tot_m %></td>
        <td class="s1"><%= mi_4wh_tot_f %></td>
        <td class="s1"><%= tot_4wh_tot_m %></td>
        <td class="s1"><%= tot_4wh_tot_f %></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R15"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">16</div>
        </th>
        <td class="s3">a)Drivers</td>
        <td class="s1"><%= k_4wh_driv_m %></td>
        <td class="s1"><%= k_4wh_driv_f %></td>
        <td class="s1"><%= gi_4wh_driv_m %></td>
        <td class="s1"><%= gi_4wh_driv_f %></td>
        <td class="s1"><%= mi_4wh_driv_m %></td>
        <td class="s1"><%= mi_4wh_driv_f %></td>
        <td class="s1"><%= tot_4wh_driv_m %></td>
        <td class="s1"><%= tot_4wh_driv_f %></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R16"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">17</div>
        </th>
        <td class="s3">b)Passengers</td>
        <td class="s1"><%= k_4wh_pass_m %></td>
        <td class="s1"><%= k_4wh_pass_f %></td>
        <td class="s1"><%= gi_4wh_pass_m %></td>
        <td class="s1"><%= gi_4wh_pass_f %></td>
        <td class="s1"><%= mi_4wh_pass_m %></td>
        <td class="s1"><%= mi_4wh_pass_f %></td>
        <td class="s1"><%= tot_4wh_pass_m %></td>
        <td class="s1"><%= tot_4wh_pass_f %></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R17"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">18</div>
        </th>
        <td class="s0">6.Trucks/Lorries</td>
        <td class="s1"><%= k_truck_tot_m %></td>
        <td class="s1"><%= k_truck_tot_f %></td>
        <td class="s1"><%= gi_truck_tot_m %></td>
        <td class="s1"><%= gi_truck_tot_f %></td>
        <td class="s1"><%= mi_truck_tot_m %></td>
        <td class="s1"><%= mi_truck_tot_f %></td>
        <td class="s1"><%= tot_truck_tot_m %></td>
        <td class="s1"><%= tot_truck_tot_f %></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R18"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">19</div>
        </th>
        <td class="s3">a)Drivers</td>
        <td class="s1"><%= k_truck_driv_m %></td>
        <td class="s1"><%= k_truck_driv_f %></td>
        <td class="s1"><%= gi_truck_driv_m %></td>
        <td class="s1"><%= gi_truck_driv_f %></td>
        <td class="s1"><%= mi_truck_driv_m %></td>
        <td class="s1"><%= mi_truck_driv_f %></td>
        <td class="s1"><%= tot_truck_driv_m %></td>
        <td class="s1"><%= tot_truck_driv_f %></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R19"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">20</div>
        </th>
        <td class="s3">b)Passengers</td>
        <td class="s1"><%= k_truck_pass_m %></td>
        <td class="s1"><%= k_truck_pass_f %></td>
        <td class="s1"><%= gi_truck_pass_m %></td>
        <td class="s1"><%= gi_truck_pass_f %></td>
        <td class="s1"><%= mi_truck_pass_m %></td>
        <td class="s1"><%= mi_truck_pass_f %></td>
        <td class="s1"><%= tot_truck_pass_m %></td>
        <td class="s1"><%= tot_truck_pass_f %></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R20"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">21</div>
        </th>
        <td class="s0">7.Buses</td>
        <td class="s1"><%= k_bus_tot_m %></td>
        <td class="s1"><%= k_bus_tot_f %></td>
        <td class="s1"><%= gi_bus_tot_m %></td>
        <td class="s1"><%= gi_bus_tot_f %></td>
        <td class="s1"><%= mi_bus_tot_m %></td>
        <td class="s1"><%= mi_bus_tot_f %></td>
        <td class="s1"><%= tot_bus_tot_m %></td>
        <td class="s1"><%= tot_bus_tot_f %></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R21"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">22</div>
        </th>
        <td class="s3">a)Drivers</td>
        <td class="s1"><%= k_bus_driv_m %></td>
        <td class="s1"><%= k_bus_driv_f %></td>
        <td class="s1"><%= gi_bus_driv_m %></td>
        <td class="s1"><%= gi_bus_driv_f %></td>
        <td class="s1"><%= mi_bus_driv_m %></td>
        <td class="s1"><%= mi_bus_driv_f %></td>
        <td class="s1"><%= tot_bus_driv_m %></td>
        <td class="s1"><%= tot_bus_driv_f %></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R22"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">23</div>
        </th>
        <td class="s3">b)Passengers</td>
        <td class="s1"><%= k_bus_pass_m %></td>
        <td class="s1"><%= k_bus_pass_f %></td>
        <td class="s1"><%= gi_bus_pass_m %></td>
        <td class="s1"><%= gi_bus_pass_f %></td>
        <td class="s1"><%= mi_bus_pass_m %></td>
        <td class="s1"><%= mi_bus_pass_f %></td>
        <td class="s1"><%= tot_bus_pass_m %></td>
        <td class="s1"><%= tot_bus_pass_f %></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R23"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">24</div>
        </th>
        <td class="s0">8.Other Motor Vehicles</td>
        <td class="s1"><%= k_omv_tot_m %></td>
        <td class="s1"><%= k_omv_tot_f %></td>
        <td class="s1"><%= gi_omv_tot_m %></td>
        <td class="s1"><%= gi_omv_tot_f %></td>
        <td class="s1"><%= mi_omv_tot_m %></td>
        <td class="s1"><%= mi_omv_tot_f %></td>
        <td class="s1"><%= tot_omv_tot_m %></td>
        <td class="s1"><%= tot_omv_tot_f %></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R24"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">25</div>
        </th>
        <td class="s3">a)Drivers</td>
        <td class="s1"><%= k_omv_driv_m %></td>
        <td class="s1"><%= k_omv_driv_f %></td>
        <td class="s1"><%= gi_omv_driv_m %></td>
        <td class="s1"><%= gi_omv_driv_f %></td>
        <td class="s1"><%= mi_omv_driv_m %></td>
        <td class="s1"><%= mi_omv_driv_f %></td>
        <td class="s1"><%= tot_omv_driv_m %></td>
        <td class="s1"><%= tot_omv_driv_f %></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R25"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">26</div>
        </th>
        <td class="s3">b)Passengers</td>
        <td class="s1"><%= k_omv_pass_m %></td>
        <td class="s1"><%= k_omv_pass_f %></td>
        <td class="s1"><%= gi_omv_pass_m %></td>
        <td class="s1"><%= gi_omv_pass_f %></td>
        <td class="s1"><%= mi_omv_pass_m %></td>
        <td class="s1"><%= mi_omv_pass_f %></td>
        <td class="s1"><%= tot_omv_pass_m %></td>
        <td class="s1"><%= tot_omv_pass_f %></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R26"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">27</div>
        </th>
        <td class="s0">Total</td>
        <td class="s1"><%= k_tot_tot_m %></td>
        <td class="s1"><%= k_tot_tot_f %></td>
        <td class="s1"><%= gi_tot_tot_m %></td>
        <td class="s1"><%= gi_tot_tot_f %></td>
        <td class="s1"><%= mi_tot_tot_m %></td>
        <td class="s1"><%= mi_tot_tot_f %></td>
        <td class="s1"><%= tot_tot_tot_m %></td>
        <td class="s1"><%= tot_tot_tot_f %></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R27"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">28</div>
        </th>
        <td class="s3">a)Drivers</td>
        <td class="s1"><%= k_tot_driv_m %></td>
        <td class="s1"><%= k_tot_driv_f %></td>
        <td class="s1"><%= gi_tot_driv_m %></td>
        <td class="s1"><%= gi_tot_driv_f %></td>
        <td class="s1"><%= mi_tot_driv_m %></td>
        <td class="s1"><%= mi_tot_driv_f %></td>
        <td class="s1"><%= tot_tot_driv_m %></td>
        <td class="s1"><%= tot_tot_driv_f %></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1795705170R28"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">29</div>
        </th>
        <td class="s3">b)Pedestrain+ Passenger</td>
        <td class="s1"><%= k_tot_pass_m %></td>
        <td class="s1"><%= k_tot_pass_f %></td>
        <td class="s1"><%= gi_tot_pass_m %></td>
        <td class="s1"><%= gi_tot_pass_f %></td>
        <td class="s1"><%= mi_tot_pass_m %></td>
        <td class="s1"><%= mi_tot_pass_f %></td>
        <td class="s1"><%= tot_tot_pass_m %></td>
        <td class="s1"><%= tot_tot_pass_f %></td>
      </tr>
    </tbody>
  </table>
</div>
</div>