<%- include("../partials/header") %>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><link
  type="text/css"
  rel="stylesheet"
  href="resources/sheet.css"
/>
<link rel="stylesheet" href="../../public/css/styles.css" />
<style type="text/css">
  .ritz .waffle a {
    color: inherit;
  }
  .ritz .waffle .s0 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s1 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s2 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: top;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s3 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s4 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
</style>
<div class="table">
<div class="ritz grid-container" dir="ltr">
  <table class="waffle" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th class="row-header freezebar-origin-ltr"></th>
        <th
          id="1350772505C0"
          style="width: 203px"
          class="column-headers-background"
        >
          A
        </th>
        <th
          id="1350772505C1"
          style="width: 100px"
          class="column-headers-background"
        >
          B
        </th>
        <th
          id="1350772505C2"
          style="width: 214px"
          class="column-headers-background"
        >
          C
        </th>
        <th
          id="1350772505C3"
          style="width: 218px"
          class="column-headers-background"
        >
          D
        </th>
        <th
          id="1350772505C4"
          style="width: 100px"
          class="column-headers-background"
        >
          E
        </th>
        <th
          id="1350772505C5"
          style="width: 100px"
          class="column-headers-background"
        >
          F
        </th>
        <th
          id="1350772505C6"
          style="width: 100px"
          class="column-headers-background"
        >
          G
        </th>
        <th
          id="1350772505C7"
          style="width: 100px"
          class="column-headers-background"
        >
          H
        </th>
        <th
          id="1350772505C8"
          style="width: 100px"
          class="column-headers-background"
        >
          I
        </th>
      </tr>
    </thead>
    <tbody>
      <tr style="height: 20px">
        <th
          id="1350772505R0"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">1</div>
        </th>
        <td class="s0" colspan="10">
          11.Accidents Classified According to Age of Impacting Vehicles
        </td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1350772505R1"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">2</div>
        </th>
        <td class="s1" rowspan="3">Age of Vehicles</td>
        <td class="s2" colspan="5">Number of Accidents</td>
        <td class="s2" colspan="4">Number of Persons</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1350772505R2"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">3</div>
        </th>
        <td class="s2" rowspan="2">Fatal</td>
        <td class="s2" rowspan="2">Grevious Injury</td>
        <td class="s2" dir="ltr" rowspan="2">
          Minor Injury 
        </td>
        <td class="s2" rowspan="2">Non Injury</td>
        <td class="s2" rowspan="2">Total</td>
        <td class="s2" rowspan="2">Killed</td>
        <td class="s2" colspan="3">Injured</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1350772505R3"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">4</div>
        </th>
        <td class="s2">Greviously Injured</td>
        <td class="s2">Minor Injury</td>
        <td class="s2" colspan="2">Total</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1350772505R4"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">5</div>
        </th>
        <td class="s0">1. Less than 5 years</td>
        <td class="s4"><%= f_5_acc %></td>
        <td class="s4"><%= gi_5_acc %></td>
        <td class="s4"><%= mi_5_acc %></td>
        <td class="s4"><%= ni_5_acc %></td>
        <td class="s4"><%= tot_5_acc %></td>
        <td class="s4"><%= k_5_pep %></td>
        <td class="s4"><%= gi_5_pep %></td>
        <td class="s4"><%= mi_5_pep %></td>
        <td class="s4"><%= tot_5_pep %></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1350772505R5"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">6</div>
        </th>
        <td class="s0">2 5 – 10 years</td>
        <td class="s4"><%= f_510_acc %></td>
        <td class="s4"><%= gi_510_acc %></td>
        <td class="s4"><%= mi_510_acc %></td>
        <td class="s4"><%= ni_510_acc %></td>
        <td class="s4"><%= tot_510_acc %></td>
        <td class="s4"><%= k_510_pep %></td>
        <td class="s4"><%= gi_510_pep %></td>
        <td class="s4"><%= mi_510_pep %></td>
        <td class="s4"><%= tot_510_pep %></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1350772505R6"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">7</div>
        </th>
        <td class="s0">3. 10.1 - 15 years</td>
        <td class="s4"><%= f_1015_acc %></td>
        <td class="s4"><%= gi_1015_acc %></td>
        <td class="s4"><%= mi_1015_acc %></td>
        <td class="s4"><%= ni_1015_acc %></td>
        <td class="s4"><%= tot_1015_acc %></td>
        <td class="s4"><%= k_1015_pep %></td>
        <td class="s4"><%= gi_1015_pep %></td>
        <td class="s4"><%= mi_1015_pep %></td>
        <td class="s4"><%= tot_1015_pep %></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1350772505R7"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">8</div>
        </th>
        <td class="s0">4. &gt; 15 years</td>
        <td class="s4"><%= f_15_acc %></td>
        <td class="s4"><%= gi_15_acc %></td>
        <td class="s4"><%= mi_15_acc %></td>
        <td class="s4"><%= ni_15_acc %></td>
        <td class="s4"><%= tot_15_acc %></td>
        <td class="s4"><%= k_15_pep %></td>
        <td class="s4"><%= gi_15_pep %></td>
        <td class="s4"><%= mi_15_pep %></td>
        <td class="s4"><%= tot_15_pep %></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1350772505R8"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">9</div>
        </th>
        <td class="s0">5.Age Not Known</td>
        <td class="s4"><%= f_unk_acc %></td>
        <td class="s4"><%= gi_unk_acc %></td>
        <td class="s4"><%= mi_unk_acc %></td>
        <td class="s4"><%= ni_unk_acc %></td>
        <td class="s4"><%= tot_unk_acc %></td>
        <td class="s4"><%= k_unk_pep %></td>
        <td class="s4"><%= gi_unk_pep %></td>
        <td class="s4"><%= mi_unk_pep %></td>
        <td class="s4"><%= tot_unk_pep %></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1350772505R9"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">10</div>
        </th>
        <td class="s1">Total</td>
        <td class="s4"><%= f_tot_acc %></td>
        <td class="s4"><%= gi_tot_acc %></td>
        <td class="s4"><%= mi_tot_acc %></td>
        <td class="s4"><%= ni_tot_acc %></td>
        <td class="s4"><%= tot_tot_acc %></td>
        <td class="s4"><%= k_tot_pep %></td>
        <td class="s4"><%= gi_tot_pep %></td>
        <td class="s4"><%= mi_tot_pep %></td>
        <td class="s4"><%= tot_tot_pep %></td>
      </tr>
    </tbody>
  </table>
</div>
</div>