<%- include("../partials/header") %>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><link
  type="text/css"
  rel="stylesheet"
  href="resources/sheet.css"
/>
<link rel="stylesheet" href="../../public/css/styles.css" />
<style type="text/css">
  .ritz .waffle a {
    color: inherit;
  }
  .ritz .waffle .s6 {
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 11pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s1 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 12pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s3 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s5 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #ff0000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s0 {
    border-bottom: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s4 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 14pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .s2 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "Times New Roman";
    font-size: 12pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
</style>
<div class="table">
<div class="ritz grid-container" dir="ltr">
  <table class="waffle" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th class="row-header freezebar-origin-ltr"></th>
        <th
          id="1590723491C0"
          style="width: 100px"
          class="column-headers-background"
        >
          A
        </th>
        <th
          id="1590723491C1"
          style="width: 100px"
          class="column-headers-background"
        >
          B
        </th>
        <th
          id="1590723491C2"
          style="width: 100px"
          class="column-headers-background"
        >
          C
        </th>
        <th
          id="1590723491C3"
          style="width: 100px"
          class="column-headers-background"
        >
          D
        </th>
        <th
          id="1590723491C4"
          style="width: 100px"
          class="column-headers-background"
        >
          E
        </th>
        <th
          id="1590723491C5"
          style="width: 100px"
          class="column-headers-background"
        >
          F
        </th>
        <th
          id="1590723491C6"
          style="width: 100px"
          class="column-headers-background"
        >
          G
        </th>
        <th
          id="1590723491C7"
          style="width: 100px"
          class="column-headers-background"
        >
          H
        </th>
        <th
          id="1590723491C8"
          style="width: 100px"
          class="column-headers-background"
        >
          I
        </th>
        <th
          id="1590723491C9"
          style="width: 100px"
          class="column-headers-background"
        >
          J
        </th>
        <th
          id="1590723491C10"
          style="width: 100px"
          class="column-headers-background"
        >
          K
        </th>
      </tr>
    </thead>
    <tbody>
      <tr style="height: 20px">
        <th
          id="1590723491R0"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">1</div>
        </th>
        <td class="s0" colspan="11">
          2. Total number of Accidents Classified According to Area and Time of
          the Day
        </td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R1"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">2</div>
        </th>
        <td class="s1" colspan="11">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >Urban Area</span
          >
        </td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R2"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">3</div>
        </th>
        <td class="s1" rowspan="2">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >Time</span
          >
        </td>
        <td class="s1" colspan="6">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >Number of Accidents </span
          >
        </td>
        <td class="s1" colspan="4">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >Number of People<br />(based on type of Accidents) </span
          >
        </td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R3"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">4</div>
        </th>
        <td class="s2" colspan="2">Fatal</td>
        <td class="s1">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >Grievous<br />Injury<br />(hospitalized)</span
          >
        </td>
        <td class="s1">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >Minor Injury<br />(not hospitalized)</span
          >
        </td>
        <td class="s1">No injury</td>
        <td class="s2">Total</td>
        <td class="s2">Killed</td>
        <td class="s1">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >Grievous<br />Injury<br />(hospitalized)</span
          >
        </td>
        <td class="s1">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >Minor Injury<br />(not hospitalized)</span
          >
        </td>
        <td class="s2">Total</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R4"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">5</div>
        </th>
        <td class="s2" colspan="2">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >06:00 – 09:00</span
          >
        </td>
        <td class="s3"><%= f_urb_69_acc%></td>
        <td class="s3"><%= gi_urb_69_acc%></td>
        <td class="s3"><%= mi_urb_69_acc%></td>
        <td class="s3"><%= ni_urb_69_acc%></td>
        <td class="s4"><%= tot_urb_69_acc%></td>
        <td class="s3"><%= kil_urb_69_pep%></td>
        <td class="s3"><%= gi_urb_69_pep%></td>
        <td class="s3"><%= mi_urb_69_pep%></td>
        <td class="s3"><%= tot_urb_69_pep%></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R5"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">6</div>
        </th>
        <td class="s2" colspan="2">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >09:00 – 12:00</span
          >
        </td>
        <td class="s3"><%= f_urb_912_acc%></td>
        <td class="s3"><%= gi_urb_912_acc%></td>
        <td class="s3"><%= mi_urb_912_acc%></td>
        <td class="s3"><%= ni_urb_912_acc%></td>
        <td class="s4"><%= tot_urb_912_acc%></td>
        <td class="s3"><%= kil_urb_912_pep%></td>
        <td class="s3"><%= gi_urb_912_pep%></td>
        <td class="s3"><%= mi_urb_912_pep%></td>
        <td class="s3"><%= tot_urb_912_pep%></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R6"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">7</div>
        </th>
        <td class="s2" colspan="2">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >12:00 – 15:00</span
          >
        </td>
        <td class="s3"><%= f_urb_1215_acc%></td>
        <td class="s3"><%= gi_urb_1215_acc%></td>
        <td class="s3"><%= mi_urb_1215_acc%></td>
        <td class="s3"><%= ni_urb_1215_acc%></td>
        <td class="s4"><%= tot_urb_1215_acc%></td>
        <td class="s3"><%= kil_urb_1215_pep%></td>
        <td class="s3"><%= gi_urb_1215_pep%></td>
        <td class="s3"><%= mi_urb_1215_pep%></td>
        <td class="s3"><%= tot_urb_1215_pep%></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R7"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">8</div>
        </th>
        <td class="s2" colspan="2">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >15:00 – 18:00</span
          >
        </td>
        <td class="s3"><%= f_urb_1518_acc%></td>
        <td class="s3"><%= gi_urb_1518_acc%></td>
        <td class="s3"><%= mi_urb_1518_acc%></td>
        <td class="s3"><%= ni_urb_1518_acc%></td>
        <td class="s4"><%= tot_urb_1518_acc%></td>
        <td class="s3"><%= kil_urb_1518_pep%></td>
        <td class="s3"><%= gi_urb_1518_pep%></td>
        <td class="s3"><%= mi_urb_1518_pep%></td>
        <td class="s3"><%= tot_urb_1518_pep%></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R8"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">9</div>
        </th>
        <td class="s2" colspan="2">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >18:00 – 21:00</span
          >
        </td>
        <td class="s3"><%= f_urb_1821_acc%></td>
        <td class="s3"><%= gi_urb_1821_acc%></td>
        <td class="s3"><%= mi_urb_1821_acc%></td>
        <td class="s3"><%= ni_urb_1821_acc%></td>
        <td class="s4"><%= tot_urb_1821_acc%></td>
        <td class="s3"><%= kil_urb_1821_pep%></td>
        <td class="s3"><%= gi_urb_1821_pep%></td>
        <td class="s3"><%= mi_urb_1821_pep%></td>
        <td class="s3"><%= tot_urb_1821_pep%></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R9"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">10</div>
        </th>
        <td class="s2" colspan="2">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >21:00 – 00:00</span
          >
        </td>
        <td class="s3"><%= f_urb_2124_acc%></td>
        <td class="s3"><%= gi_urb_2124_acc%></td>
        <td class="s3"><%= mi_urb_2124_acc%></td>
        <td class="s3"><%= ni_urb_2124_acc%></td>
        <td class="s4"><%= tot_urb_2124_acc%></td>
        <td class="s3"><%= kil_urb_2124_pep%></td>
        <td class="s3"><%= gi_urb_2124_pep%></td>
        <td class="s3"><%= mi_urb_2124_pep%></td>
        <td class="s3"><%= tot_urb_2124_pep%></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R10"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">11</div>
        </th>
        <td class="s2" colspan="2">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >00:00 – 03:00</span
          >
        </td>
        <td class="s3"><%= f_urb_003_acc%></td>
        <td class="s3"><%= gi_urb_003_acc%></td>
        <td class="s3"><%= mi_urb_003_acc%></td>
        <td class="s3"><%= ni_urb_003_acc%></td>
        <td class="s4"><%= tot_urb_003_acc%></td>
        <td class="s3"><%= kil_urb_003_pep%></td>
        <td class="s3"><%= gi_urb_003_pep%></td>
        <td class="s3"><%= mi_urb_003_pep%></td>
        <td class="s3"><%= tot_urb_003_pep%></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R11"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">12</div>
        </th>
        <td class="s2" colspan="2">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >03:00 – 06:00</span
          >
        </td>
        <td class="s3"><%= f_urb_36_acc%></td>
        <td class="s3"><%= gi_urb_36_acc%></td>
        <td class="s3"><%= mi_urb_36_acc%></td>
        <td class="s3"><%= ni_urb_36_acc%></td>
        <td class="s4"><%= tot_urb_36_acc%></td>
        <td class="s3"><%= kil_urb_36_pep%></td>
        <td class="s3"><%= gi_urb_36_pep%></td>
        <td class="s3"><%= mi_urb_36_pep%></td>
        <td class="s3"><%= tot_urb_36_pep%></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R12"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">13</div>
        </th>
        <td class="s2" colspan="2">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >Unknown Time</span
          >
        </td>
        <td class="s3"><%= f_urb_unk_acc%></td>
        <td class="s3"><%= gi_urb_unk_acc%></td>
        <td class="s3"><%= mi_urb_unk_acc%></td>
        <td class="s3"><%= ni_urb_unk_acc%></td>
        <td class="s4"><%= tot_urb_unk_acc%></td>
        <td class="s3"><%= kil_urb_unk_pep%></td>
        <td class="s3"><%= gi_urb_unk_pep%></td>
        <td class="s3"><%= mi_urb_unk_pep%></td>
        <td class="s3"><%= tot_urb_unk_pep%></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R12"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">13</div>
        </th>
        <td class="s4" colspan="2">Total</td>
        <td class="s3"><%= f_urb_tot_acc%></td>
        <td class="s3"><%= gi_urb_tot_acc%></td>
        <td class="s3"><%= mi_urb_tot_acc%></td>
        <td class="s3"><%= ni_urb_tot_acc%></td>
        <td class="s4"><%= tot_urb_tot_acc%></td>
        <td class="s3"><%= kil_urb_tot_pep%></td>
        <td class="s3"><%= gi_urb_tot_pep%></td>
        <td class="s3"><%= mi_urb_tot_pep%></td>
        <td class="s3"><%= tot_urb_tot_pep%></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R13"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">14</div>
        </th>
        <td class="s1" colspan="11">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >Rural Area</span
          >
        </td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R14"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">15</div>
        </th>
        <td class="s1" rowspan="2">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >Time</span
          >
        </td>
        <td class="s1" colspan="6">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >Number of Accidents</span
          >
        </td>
        <td class="s1" colspan="4">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >Number of People<br />(based on type of Accidents)</span
          >
        </td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R15"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">16</div>
        </th>
        <td class="s2" colspan="2">Fatal</td>
        <td class="s1">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >Grievous<br />Injury<br />(hospitalized)</span
          >
        </td>
        <td class="s1">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >Minor Injury<br />(not hospitalized)</span
          >
        </td>
        <td class="s2">No injury</td>
        <td class="s2">Total</td>
        <td class="s2">Killed</td>
        <td class="s1">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >Grievous<br />Injury<br />(hospitalized)</span
          >
        </td>
        <td class="s1">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >Minor Injury<br />(not hospitalized)</span
          >
        </td>
        <td class="s2">Total</td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R16"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">17</div>
        </th>
        <td class="s2" colspan="2">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >06:00 – 09:00</span
          >
        </td>
          <td class="s3"><%= f_rur_69_acc%></td>
          <td class="s3"><%= gi_rur_69_acc%></td>
          <td class="s3"><%= mi_rur_69_acc%></td>
          <td class="s3"><%= ni_rur_69_acc%></td>
          <td class="s4"><%= tot_rur_69_acc%></td>
          <td class="s3"><%= kil_rur_69_pep%></td>
          <td class="s3"><%= gi_rur_69_pep%></td>
          <td class="s3"><%= mi_rur_69_pep%></td>
          <td class="s3"><%= tot_rur_69_pep%></td>
        </tr>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R17"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">18</div>
        </th>
        <td class="s2" colspan="2">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >09:00 – 12:00</span
          >
        </td>
        <td class="s3"><%= f_rur_912_acc%></td>
          <td class="s3"><%= gi_rur_912_acc%></td>
          <td class="s3"><%= mi_rur_912_acc%></td>
          <td class="s3"><%= ni_rur_912_acc%></td>
          <td class="s4"><%= tot_rur_912_acc%></td>
          <td class="s3"><%= kil_rur_912_pep%></td>
          <td class="s3"><%= gi_rur_912_pep%></td>
          <td class="s3"><%= mi_rur_912_pep%></td>
          <td class="s3"><%= tot_rur_912_pep%></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R18"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">19</div>
        </th>
        <td class="s2" colspan="2">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >12:00 – 15:00</span
          >
        </td>
        <td class="s3"><%= f_rur_1215_acc%></td>
          <td class="s3"><%= gi_rur_1215_acc%></td>
          <td class="s3"><%= mi_rur_1215_acc%></td>
          <td class="s3"><%= ni_rur_1215_acc%></td>
          <td class="s4"><%= tot_rur_1215_acc%></td>
          <td class="s3"><%= kil_rur_1215_pep%></td>
          <td class="s3"><%= gi_rur_1215_pep%></td>
          <td class="s3"><%= mi_rur_1215_pep%></td>
          <td class="s3"><%= tot_rur_1215_pep%></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R19"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">20</div>
        </th>
        <td class="s2" colspan="2">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >15:00 – 18:00</span
          >
        </td>
        <td class="s3"><%= f_rur_1518_acc%></td>
          <td class="s3"><%= gi_rur_1518_acc%></td>
          <td class="s3"><%= mi_rur_1518_acc%></td>
          <td class="s3"><%= ni_rur_1518_acc%></td>
          <td class="s4"><%= tot_rur_1518_acc%></td>
          <td class="s3"><%= kil_rur_1518_pep%></td>
          <td class="s3"><%= gi_rur_1518_pep%></td>
          <td class="s3"><%= mi_rur_1518_pep%></td>
          <td class="s3"><%= tot_rur_1518_pep%></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R20"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">21</div>
        </th>
        <td class="s2" colspan="2">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >18:00 – 21:00</span
          >
        </td>
        <td class="s3"><%= f_rur_1821_acc%></td>
          <td class="s3"><%= gi_rur_1821_acc%></td>
          <td class="s3"><%= mi_rur_1821_acc%></td>
          <td class="s3"><%= ni_rur_1821_acc%></td>
          <td class="s4"><%= tot_rur_1821_acc%></td>
          <td class="s3"><%= kil_rur_1821_pep%></td>
          <td class="s3"><%= gi_rur_1821_pep%></td>
          <td class="s3"><%= mi_rur_1821_pep%></td>
          <td class="s3"><%= tot_rur_1821_pep%></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R21"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">22</div>
        </th>
        <td class="s2" colspan="2">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >21:00 – 00:00</span
          >
        </td>
        <td class="s3"><%= f_rur_2124_acc%></td>
          <td class="s3"><%= gi_rur_2124_acc%></td>
          <td class="s3"><%= mi_rur_2124_acc%></td>
          <td class="s3"><%= ni_rur_2124_acc%></td>
          <td class="s4"><%= tot_rur_2124_acc%></td>
          <td class="s3"><%= kil_rur_2124_pep%></td>
          <td class="s3"><%= gi_rur_2124_pep%></td>
          <td class="s3"><%= mi_rur_2124_pep%></td>
          <td class="s3"><%= tot_rur_2124_pep%></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R22"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">23</div>
        </th>
        <td class="s2" colspan="2">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >00:00 – 03:00</span
          >
        </td>
        <td class="s3"><%= f_rur_003_acc%></td>
          <td class="s3"><%= gi_rur_003_acc%></td>
          <td class="s3"><%= mi_rur_003_acc%></td>
          <td class="s3"><%= ni_rur_003_acc%></td>
          <td class="s4"><%= tot_rur_003_acc%></td>
          <td class="s3"><%= kil_rur_003_pep%></td>
          <td class="s3"><%= gi_rur_003_pep%></td>
          <td class="s3"><%= mi_rur_003_pep%></td>
          <td class="s3"><%= tot_rur_003_pep%></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R23"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">24</div>
        </th>
        <td class="s2" colspan="2">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >03:00 – 06:00</span
          >
        </td>
        <td class="s3"><%= f_rur_36_acc%></td>
          <td class="s3"><%= gi_rur_36_acc%></td>
          <td class="s3"><%= mi_rur_36_acc%></td>
          <td class="s3"><%= ni_rur_36_acc%></td>
          <td class="s4"><%= tot_rur_36_acc%></td>
          <td class="s3"><%= kil_rur_36_pep%></td>
          <td class="s3"><%= gi_rur_36_pep%></td>
          <td class="s3"><%= mi_rur_36_pep%></td>
          <td class="s3"><%= tot_rur_36_pep%></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R12"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">13</div>
        </th>
        <td class="s2" colspan="2">
          <span
            style="
              font-size: 12pt;
              font-family: Times New Roman;
              color: #000000;
            "
            >Unknown Time</span
          >
        </td>
        <td class="s3"><%= f_rur_unk_acc%></td>
        <td class="s3"><%= gi_rur_unk_acc%></td>
        <td class="s3"><%= mi_rur_unk_acc%></td>
        <td class="s3"><%= ni_rur_unk_acc%></td>
        <td class="s4"><%= tot_rur_unk_acc%></td>
        <td class="s3"><%= kil_rur_unk_pep%></td>
        <td class="s3"><%= gi_rur_unk_pep%></td>
        <td class="s3"><%= mi_rur_unk_pep%></td>
        <td class="s3"><%= tot_rur_unk_pep%></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R24"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">25</div>
        </th>
        <td class="s4" colspan="2">Total</td>
        <td class="s3"><%= f_rur_tot_acc%></td>
          <td class="s3"><%= gi_rur_tot_acc%></td>
          <td class="s3"><%= mi_rur_tot_acc%></td>
          <td class="s3"><%= ni_rur_tot_acc%></td>
          <td class="s4"><%= tot_rur_tot_acc%></td>
          <td class="s3"><%= kil_rur_tot_pep%></td>
          <td class="s3"><%= gi_rur_tot_pep%></td>
          <td class="s3"><%= mi_rur_tot_pep%></td>
          <td class="s3"><%= tot_rur_tot_pep%></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R25"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">26</div>
        </th>
        <td class="s6" colspan="11"></td>
      </tr>
      <tr style="height: 20px">
        <th
          id="1590723491R26"
          style="height: 20px"
          class="row-headers-background"
        >
          <div class="row-header-wrapper" style="line-height: 20px">27</div>
        </th>
        <td class="s6" colspan="11"></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
